@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 128 56% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 33 100% 64%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 125 34% 88%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 125 34% 74%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 33 100% 64%;
    --radius: 0.8rem;
    --chart-1: 125 34% 74%;
    --chart-2: 33 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 95%;
    --primary: 33 100% 64%;
    --primary-foreground: 20 14.3% 4.1%;
    --secondary: 125 34% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 24 9.8% 10%;
    --muted-foreground: 0 0% 63%;
    --accent: 125 34% 40%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 9.8% 10%;
    --input: 24 9.8% 10%;
    --ring: 33 100% 64%;
    --chart-1: 125 34% 40%;
    --chart-2: 33 100% 64%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
